.heading {
    font-size: 1.3em;
}

.done:before,
.not-done:before {
    content: '';
    display: inline-block;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.done:before {
    background-image: url(/done.svg);
}

.not-done:before {
    background-image: url(/not-done.svg);
}

label {
    display: inline-block;
    padding: 5px 15px;
}

.list-todos {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.list-todos .list-item {
    margin: 0;
    padding: 0;
}