.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.half {
  display: inline-block;
  width: 200px;
  vertical-align: top;
}

input, .btn {
  padding: 5px 15px;
  border-radius: 3px;
  color: black;
}

.btn {
  background-color: #000;
  color: #fff;
}

.btn:hover {
  background-color: #777;
  cursor: pointer;
}

input[type="checkbox"] {
  display: none;
}